.TaskCard {
  display: flex;

  flex-direction: column;

  background: pink;

  padding: 15px;

  .h3 {
    margin: 0;
    cursor: pointer;
  }

  .top {
    display: flex;

    gap: 15px;

    .name {
      cursor: pointer;
      width: calc(100% - 15px - 185px);
      background: lime;
    }

    .buttonPanel {
      display: flex;
      gap: 15px;
      width: 185px;
    }
  }
}
