.TaskCard {
  display: flex;

  flex-direction: column;

  background: pink;

  padding: 15px;

  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  gap: 15px;

  .top {
    display: flex;

    background: white;

    justify-content: space-between;

    .name {
      cursor: pointer;
      width: calc(100% - 15px - 185px);
      background: lime;
    }
  }
  .buttonPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    gap: 15px;
  }
}
