.ProjectCard {
  width: calc(100% - 15px * 2);

  display: flex;

  flex-direction: column;

  background: #222;

  border-radius: 15px;

  padding: 15px;

  cursor: pointer;

  .h3 {
    margin: 0;
  }

  .window {
    display: flex;

    justify-content: flex-end;

    flex-wrap: wrap;

    gap: 15px;

    .name {
      cursor: pointer;
      width: 100%;
      h3 {
        margin: 0;
        word-break: break-all;
        color: #555;

        span {
          color: #ffffff;
        }
      }
    }

    .buttonPanel {
      display: flex;
      gap: 15px;

      width: 185px;
    }
  }

  transition: 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.02);
    background: #333;
  }
}
