.CreateTaskCard {
  display: flex;

  cursor: pointer;

  justify-content: center;

  align-items: center;

  background: lightseagreen;

  border-radius: 15px;

  padding: 15px;
  width: calc(100% - 15px * 4);
  background: rgb(245, 1, 245);

  color: #ffffff;

  font-weight: bold;

  border-radius: 15px;

  padding: 15px;

  transition: 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgb(245, 1, 245);
  }
}
