.Main {
  width: calc(100% - 15px * 2);

  display: flex;

  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  gap: 15px;

  padding: 15px;

  .tasks {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    justify-content: space-between;

    gap: 15px;

    .queue,
    .development,
    .done {
      width: calc(100% / 3 - 15px * 2);
      height: 163.24px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: #ffffff;
      .header_column {
        margin: 0;
        text-align: center;
        padding: 15px;
        border-bottom: 2px solid #777;
      }
    }
  }
}
