.Main {
  width: calc(100% - 15px * 2);

  display: flex;

  justify-content: center;

  align-items: center;

  flex-wrap: wrap;

  gap: 15px;

  background: red;

  padding: 15px;

  .tasks {
    background: blue;
    width: calc(100%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    justify-content: space-between;

    gap: 15px;

    .queue {
      width: calc(100% / 3 - 15px);

      background: lime;
    }
    .development {
      width: calc(100% / 3 - 15px);

      background: orange;
    }
    .done {
      width: calc(100% / 3 - 15px);

      background: palevioletred;
    }

    .queue,
    .development,
    .done {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .header_column {
        margin: 0;
        text-align: center;
        padding: 15px;
        background: fuchsia;
      }
    }
  }
}
