body {
  margin: 0;
  background: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 15px;
  border-radius: 15px;
  background: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  border: solid #555 2px;
  transition: 0.5s;
  &:focus,
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #555;
  }
}

#root {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}
