body {
  margin: 0;
  background: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea {
  padding: 15px;
  border-radius: 15px;
  background: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  border: solid #555 2px;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  &:focus,
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #555;
  }
}

select {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 2px;
  background: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  option {
    background: #555;
    &:hover {
      background: red;
    }
  }
}

#root {
  display: flex;

  padding-top: 15px;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
}
